<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="styles.css">
</head>



<div id="container">
	<div id="header">

        <img id="header_img"src="images/karolyi.png">
        <h1>
			Károlyi Piac
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">Főoldal</a></li>
            <li><a href="#">Termékek</a></li>
            <li><a href="#">Elérhetőségek</a></li>
            <li>
                <div id="search">
                    <form action="welcome_get.php" method="get">
			<input id="search_input" type="text" name="search_text" placeholder="Keresés...">
            <input id="submit_button" type="button" name="search_submit">
                    </form>
    </div></li>
		</ul>
	</div>

<div id="wrap">
    
<div id="sidebar">
    <div id="sidebar_category_header">
        <h4>KATEGÓRIÁK</h4>
    </div>

    <div id="sidebar_category_content">
        <ul>
            <li><a href="#">elso</a></li>
            <li><a href="#">masodik</a></li>
            <li><a href="#">harmadik</a></li>
            <li><a href="#">negyedik</a></li>
            <li><a href="#">topkek</a></li>
            </ul>
    </div>
    
    <div id="sidebar_bag_header">
        <h4>KOSÁR TARTALMA</h4>
    </div>
    
        <div id="sidebar_bag_content">
        <ul>
            <li>
                <a href="#">
                    <img src="images/termekek/chips.png">
                    Sós Chio Chips
                </a>
            </li>
                        <li>
                <a href="#">
                    <img src="images/termekek/chips.png">
                    Sós Chio Chips
                </a>
                        <li>
                <a href="#">
                    <img src="images/termekek/chips.png">
                    Sós Chio Chips
                </a>
            </li>
            </ul>
    </div>
    <div id="bag_submit">
        <div id="bag">
                    <form action="welcome_get.php" method="get">
                        <p>Szobaszámod: </p>
			<input id="bag_input" type="text" name="search_text">
                        <p>Összesen: xy Ft </p>
                                    <input id="submit_bag_button" type="button" name="search_submit" value="Megveszem">
                    </form>
        </div>
</div>
    </div>
<div id="main">
    <div id="special_offer">
        <h4>KIEMELT AJÁNLATOK</h4>
        <center><img src="images/termekek/sor2.png"></center>
        <h5>placeholder for details</h5>
    </div>
    
    <div id="detail">
    <h4>AKCIÓS TERMÉKEK</h4>
        <div id="detail_items">
            <ul>
            <li>
                <h6>title</h6>
                <img src="images/termekek/clone-pendrive.jpg" width="100" height="100">
                <h6 id="discount">AKCIÓS</h6>
                <h7>temekleiras</h7>
                 <h7 id="price_field">xy Ft</h7>
                                <input type="button" id="detail_buy" value="KOSÁRBA">
                </li>
                            <li>
                <h6>title</h6>
                <img src="images/termekek/clone-pendrive.jpg" width="100" height="100">
                <h7>temekleiras</h7>
                <h7 id="price_field">xy Ft</h7>
                <input type="button" id="detail_buy" value="KOSÁRBA">
                </li>
                            <li>
                <h6>title</h6>
                <img src="images/termekek/clone-pendrive.jpg" width="100" height="100">
                <h7>temekleiras</h7>

                <input type="button"
                       id="detail_buy" value="KOSÁRBA">
                </li>
                            <li>
                <h6>title</h6>
                <img src="images/termekek/clone-pendrive.jpg" width="100" height="100">
                <h7>temekleiras</h7>
                <h7 id="price_field">xy Ft</h7>
                <input type="button" id="detail_buy" value="KOSÁRBA">
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
	<div id="footer">
        <img id="kopaj" src="images/kopaj_logo.png">
		<h7>A weblap a 2014-es Károlyi Mihály Kollégium, KOPAJ nevű rendezvényének egyik versenyfeladatára készült el.
            </h7><br>
    <h7>
        A weboldalon található adatok és koncepciók teljes mértékben a kitaláicó szüleménye, azok nem fedik a valóságot.</h7>
    <br>
            <h7>
Az oldalt készítette a 7. emelet csapata: Kergyik Pál, Erdélyi Gábor, Frankó Dávid
A feladat, és vele a rendezvény egyik fő támogatója az EPAM Systems.</h7>
            <br>
        <img id="epam" src="images/epam.png">
	</div>
        </div>
</div>