#container
{
	margin: 0 auto;
	width: 1200px;
	background: #FFFFFF;
}

#header
{
    position: relative;
    background: #FFF;
}

#header_img {
   position: relative; 
    width: 1200px
}

#header h1
{
	color: #FFFFFF;
    top: -1;
    left: 20;
   position: absolute;  
}

#navigation
{
	float: left;
	width: 1200;
    padding-left: 20;
    padding-top: 15;
    margin-bottom: -20;
	background: white;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding-left: 20;
    padding-right: 20;
	color: #525252;
    font-size: 20;
	text-decoration: none;
}

#navigation li a:hover
{
   border-width: 2px;
color: #5598DA;
   border-bottom: 2px #488DDB solid;
}

#search
{
    padding: 10;
	float: right;
	background: white;
}

#submit_button
{
background:url(../images/searchbtn.png);
background-repeat: no-repeat;
width:20px;
height:20px;
    margin: 0 20 0 0;
    padding: 3;
    outline: 0; 
    border: 0;
}

#search_input
{
  -webkit-appearance: none;
   border-width: 0px;
   border-bottom: 1px #7C7C7C solid;
}

#sidebar {
float:left;
width:250px;
    margin-left: 20;
background:white;
}

#sidebar_category_header h4{
color: white;
    background: #498EDC;
    padding-left: 20;
    padding-bottom: 15px;
    padding-top: 15px;
}

#sidebar_category_content{
margin-top: -5;
}

#sidebar_category_content ul
{
	margin: 5;
	padding: 1;
}

#sidebar_category_content ul li
{
	list-style-type: none;
    margin-bottom: 5;
}

#sidebar_category_content li a
{
	padding-left: 20;
    padding-right: 20;
	color: #525252;
    font-size: 15;
	text-decoration: none;
}

#sidebar_category_content li a:hover
{
text-decoration: underline;
    color: #5598DA; 
}

#sidebar_bag_header h4{
color: #5598DA;
    background: white;
    padding-left: 20;
    padding-bottom: 15px;
    padding-top: 15px;
   border-width: 0px;
   border-bottom: 1px #5598DA solid;
}

#sidebar_bag_content ul
{
	margin: 5;
	padding: 1;
}

#sidebar_bag_content ul li
{
	list-style-type: none;
    margin-bottom: 5;
       border-width: 0px;
   border-bottom: 1px gray solid;;
}

#sidebar_bag_content li a
{
	padding-left: 20;
    padding-right: 20;
	color: #525252;
    font-size: 15;
	text-decoration: none;
}

#sidebar_bag_content img{
    background-color: #488EDD;
    width: 50px;
	height: 50px;
	-webkit-border-radius: 30px;
}

#bag_submit p{
    display: inline-block
}

#submit_bag_button{
background: #498EDB;
    color: white;
background-repeat: no-repeat;
width:100px;
height:25px;
    margin-left: 40;
    padding: 3;
    outline: 0; 
    border: 0;
}

#bag_input{
  -webkit-appearance: none;
   border-width: 0px;
    width: 130;
    margin-left: 20;
   border-bottom: 1px #7C7C7C solid;
}

#main {
float:right;
width: 910px;
background: white;
}

#detail h4{
color: white;
    background: #498EDC;
    padding-left: 20;
    padding-bottom: 15px;
    padding-top: 15px;
}

#detail_items li{
    width: 150;
    margin: 5;
    list-style-type: none;
    display: inline;
    float: left;
} 

#detail_items h6{
color: white;
    background: #498EDC;
}

#discount{
opacity: 0.5;
     position: absolute; 
    margin-top: -25;
    font-size: 15;
    width: 150;
    height: 25;
}

#detail_items img{
    margin-top: -25;
width: 150;
    height: 150;
       position: relative
}

#detail_items h7{
font-size: 12;
    display: table-row;
}

#price_field{
margin-left: 15;
}

#detail_buy{
background: #498EDB;
    color: white;
background-repeat: no-repeat;
width:100px;
height:25px;
    margin-left: 0;
    padding: 3;
    outline: 0; 
    border: 0;
}

#special_offer h4{
color: white;
    background: #498EDC;
    padding-left: 20;
    padding-bottom: 15px;
    padding-top: 15px;
}

#special_offer img{
           position: relative
}

#special_offer h5{
        background: #498EDC;
position:absolute;
    margin-top: -40;
    opacity: 0.5;
    font-size: 15;
    width: 910;
    height: 50;
}

#footer
{
	text-align: right;
	padding: 20px;
	height: 150;
clear:both;
background:gray;
}

#kopaj{
float:left;
}

#epam{
    padding: 20;
float:right;
}

#footer h7{
 font-size: 10;
}
